body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}
header, footer {
    background-color: #edbb7d;
    padding: 3px;
    text-align: center;

}

.container {
    max-width: 1200px;
    margin: 0 auto; 
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container h1 {
    text-align: center;
    font-size: 1.8em;
}
h2 {
    margin-top: 0;
}
h3 {
    margin: 0;
}
h4 {
    margin-top: 5px;
    margin-left: 27px;
}
.choose-option {
    display: flex;
    margin-top: 20px;
}
label {
    font-size: 1.2em;
}
select {
    padding: 5px 10px;
    margin-left: 10px;
}

.list {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.book-item {
    border: 2px solid #bdbcbc;
    padding: 20px;
}
.book-item p {
    text-align: justify;
}
.btn {
    text-decoration: none;
    border: 1px solid #ed9220;
    background-color: #ed9220;
    color: white;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 1em;
}

/* Favourite button */
.fa-heart {
    color: lightgray;
    font-size: 22px;
}
.fa-heart.favourite {
    color: green;
}
.title-item {
    display: flex;
    margin-top: 20px ;
}
.title-item h3 {
    margin-left: 5px;
}

.fa-amazon {
    line-height: 22px;
}

footer {
    margin-top: 20px;
}
footer a {
    color: black;
}